<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" href="../static/img/eu_flag.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Cidadania Europeia</title>
</head>

<body>
    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
        <section class="profile">
            <img src="../static/img/alexandre.png" alt="Alexandre">
            <h1>Alexandre Simões</h1>
            <div class="social-Links mt-4 text-center">
                <a target="_blank" href="#linkedin"><i class="bi bi-linkedin"></i></a>
                <a target="_blank" href="#instagram"><i class="bi bi-instagram"></i></a>
                <a target="_blank" href="#facebook"><i class="bi bi-facebook"></i></a>
                <a target="_blank" href="#whatsapp"><i class="bi bi-whatsapp"></i></a>
            </div>
        </section>
        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house"></i> Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#somos"><i class="bi bi-file-earmark-person"></i> Quem Somos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#breve"><i class="bi bi-currency-euro"></i> Breve histórico da União
                        Europeia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#advogado"><i class="bi bi-person-fill"></i> Quem é o Advogado</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#atuacao"><i class="bi bi-list-columns"></i> Área de atuação</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato"><i class="bi bi-envelope-at"></i> Contato</a>
                </li>
            </ul>
        </nav>
    </aside>
    <main id="main">
        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Alexandre Simões</h2>
                <span id="subtitle" class="text-white text-shadow">Advogado brasileiro e português</span>
            </div>
            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#somos">Arraste para mais</a>
                </div>
            </div>
        </section>
        <section id="somos" class="container mt-5">
            <div class="row w-100">
                <div class="col-md-12" data-anime="down">
                    <h2 class="pt-3">Quem Somos</h2>
                    <p>Especializado em Cidadania e Naturalização</p>
                    <p>Assessoria a clientes que desejam obter Nacionalidade Europeia</p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="../static/img/passaporte-europeu-1.png" alt="Passaporte"
                        data-anime="left">
                </div>
                <div class="col-md-8" data-anime="right">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">An item</li>
                                <li class="list-group-item">A second item</li>
                                <li class="list-group-item">A third item</li>
                                <li class="list-group-item">A fourth item</li>
                                <li class="list-group-item">And a fifth one</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">An item</li>
                                <li class="list-group-item">A second item</li>
                                <li class="list-group-item">A third item</li>
                                <li class="list-group-item">A fourth item</li>
                                <li class="list-group-item">And a fifth one</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="breve" class="container mt-5 section-bg">
            <div class="row w-100">
                <div class="col-md-12" data-anime="down">
                    <h2 class="pt-3">Breve histórico da União Europeia</h2>
                    <br>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="../static/img/european_union_flags_generated.jpg"
                        alt="União Europeia" data-anime="left">
                </div>
                <div class="col-md-8" data-anime="right">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">An item</li>
                                <li class="list-group-item">A second item</li>
                                <li class="list-group-item">A third item</li>
                                <li class="list-group-item">A fourth item</li>
                                <li class="list-group-item">And a fifth one</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">An item</li>
                                <li class="list-group-item">A second item</li>
                                <li class="list-group-item">A third item</li>
                                <li class="list-group-item">A fourth item</li>
                                <li class="list-group-item">And a fifth one</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="advogado" class="mt-5 cv">
            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Quem é o Advogado</h2>
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-title">Lista1</h3>
                        <div class="cv-item" data-anime="up">
                            <h4>Item1</h4>
                            <h5>Data1</h5>
                            <p><em>Local1</em></p>
                            <p>Texto1</p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Item2</h4>
                            <h5>Data2</h5>
                            <p><em>Local2</em></p>
                            <p>Texto2</p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Item3</h4>
                            <h5>Data3</h5>
                            <p><em>Local3</em></p>
                            <p>Texto3</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3 class="cv-title">Lista2</h3>
                        <div class="cv-item" data-anime="up">
                            <h4>Item4</h4>
                            <h5>Data4</h5>
                            <p><em>Local4</em></p>
                            <p>Texto4</p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Item5</h4>
                            <h5>Data5</h5>
                            <p><em>Local5</em></p>
                            <p>Texto5</p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Item6</h4>
                            <h5>Data6</h5>
                            <p><em>Local6</em></p>
                            <p>Texto6</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="atuacao" class="container mt-5 section-bg">
            <div class="container pb-5 pt-5" data-anime="left">
                <h2 class="pb-4">Área de atuação</h2>
                <div id="carouselAtuacao" class="carousel carousel-dark slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselAtuacao" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselAtuacao" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <div class="row row-cols-1 row-cols-md-2 g-4">
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/bandeira-portugal.png" class="card-img-top"
                                            alt="Portugual">
                                        <div class="card-body">
                                            <h5 class="card-title">Portugual</h5>
                                            <p class="card-text">Advogado português...</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/bandeira-italia.png" class="card-img-top" alt="Italia">
                                        <div class="card-body">
                                            <h5 class="card-title">Itália</h5>
                                            <p class="card-text">Atuação na Itália...</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <div class="row row-cols-1 row-cols-md-2 g-4">
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/bandeira-espanha.png" class="card-img-top"
                                            alt="Espanha">
                                        <div class="card-body">
                                            <h5 class="card-title">Espanha</h5>
                                            <p class="card-text">Atuação na Espanha...</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card h-100">
                                        <img src="../static/img/bandeira-alemanha.png" class="card-img-top"
                                            alt="Alemanha">
                                        <div class="card-body">
                                            <h5 class="card-title">Alemanha</h5>
                                            <p class="card-text">Atuação na Alemanha...</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselAtuacao"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselAtuacao"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </section>
        <section id="contato" class="pt-5 pb-5">
            <div class="container mb-5">
                <h2 class="pt-3 pb-3">Contato</h2>
                <div class="row">
                    <div class="col-md-5">
                        <div class="card p-5 shadow border-0" data-anime="up">
                            <div class="endereco">
                                <h4><i class="bi bi-geo-alt"></i> Localização:</h4>
                                <p>Rio de Janeiro, RJ</p>
                            </div>
                            <div class="email">
                                <h4><i class="bi bi-envelope"></i> Email:</h4>
                                <p>alexandresimoes.adv@gmail.com</p>
                            </div>
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3675.234371245648!2d-43.18090648943239!3d-22.904724679170016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x997f5e41da097d%3A0x724d9c9f1bfd10fc!2sAv.%20Rio%20Branco%2C%20120%20-%20sala%20811%20-%20Centro%2C%20Rio%20de%20Janeiro%20-%20RJ%2C%2020040-001!5e0!3m2!1spt-BR!2sbr!4v1726004700744!5m2!1spt-BR!2sbr"
                                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade" class="w-100%">
                            </iframe>
                        </div>
                    </div>
                    <div class="col-md-7 mt-5 mt-md-0">
                        <div class="card p-5 h-100 shadow border-0" data-anime="left">
                            <form class="row g-3" action="/send" method="POST">
                                <div class="col-md-6">
                                    <label for="nome" class="form-label">Nome</label>
                                    <input type="text" class="form-control" id="nome" name="nome"
                                        placeholder="Digite seu nome" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder="Digite seu email" required>
                                </div>
                                <div class="col-12">
                                    <label for="mensagem" class="form-label">Mensagem</label>
                                    <textarea type="text" class="form-control" id="mensagem" name="mensagem" rows="10"
                                        placeholder="Digite sua mensagem" required></textarea>
                                </div>
                                <div class="col-12 d-flex justify-content-center mt-4">
                                    <button id="btn-enviar" type="submit" class="btn btn-primary">Enviar email</button>

                                    <button id="btn-enviar-Loader" class="btn btn-primary" type="button" disabled>
                                        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                                        <span role="status">Enviando email...</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div id="alerta" class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="bi bi-check-circle-fill"></i> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </main>

    <footer id="footer">
        <div class="container">
            <div class="text-center">
                &copy; Copyright <strong>Alexandre Simões</strong>
            </div>
        </div>
    </footer>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>